<div class="panel panel-default">
  <div class="panel-heading">      
    <ul class="nav nav-pills btn-group navbar-right">
      <li><%= link_to 'CANCEL', @project %></li>
    </ul>
    <h3>NEW TASK</h3>
  </div>
  <div class="panel-body">          
    <%= render 'tasks/form' %>
  </div>
</div>