<ul class="list-group text-center"> 
  <% @projects.each do |project| %>   
    <%= link_to project, class: 'list-group-item line' do %>
      <h3><%= project.title.upcase %></h3>        
    <% end %>     
  <% end %>
</ul>

<% if @projects.empty? %>
  <div class="jumbotron">
    <div class="container">
      <h1>You have no project yet...</h1>
      <p>Start creating your projects list</p>
      <p><%= link_to 'START', new_project_path, class: 'btn btn-danger btn-lg navbar-btn', role: 'button' %></p>
    </div>
  </div>  
<% end %>