<div class="panel panel-default">
  <div class="panel-heading">      
    <ul class="nav nav-pills btn-group navbar-right">
      <li><%= link_to 'CANCEL', projects_path %></li>
    </ul>
    <h3>NEW TODO</h3>
  </div>
  <div class="panel-body">          
    <%= render 'form' %>
  </div>
</div>